<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ingreso</title>
    </head>
    <body>
        <form action="/registrar" method="post">
            <input type="username" name="username" placeholder="Usuario"> <br><br>
            <input type="password" name="password" placeholder="Contraseña"> <br><br>
            <select name="tipo" onchange="myFunction()">
                <option selected>cliente</option>
                <option >empleado</option>
            </select>
            <input type="password" id="pass" name="confirmacion" placeholder="Contraseña empleado" style="display: none;">
            <script>
                function myFunction() {
                    var x = document.getElementById("pass");
    
                    if (x.style.display === "none") {
                    x.style.display = "block";
		
                } else {
                    x.style.display = "none";
		
                }
                }
            </script>

            
            <input type="submit" value="Registrar">            
            <label for="">Si ya esta registrado ....</label><button name="blogin" value="Ingresar">Ingresar</button>            
        </form>       
        
    </body>
</html>